/*---------------------------------------------body------------------------------------------------------------------*/
body {
    margin: auto;
    text-align: center;
    color: white;
    font-size: 28px;
    position: relative;
    z-index: 10;
    margin:0;
    padding: 0;


}

/*---------------------------------------------header------------------------------------------------------------------*/
header {

    padding-top: 50px;
    width: 100%;
    height: 100vh;
}

header img {
    width: 80%;
    height: 80%;

}

.header {
    height: 100vh;
    z-index: 20;
    position: relative;
    background-color: blueviolet;

}

/*---------------------------------------------zajawka---------------------------------------------------------------*/
.zajawka {
    background-color: #B3D34D;
    width: 100%;
    height: 100vh;
    z-index: 30;
    position: relative;


}

/*------------------------------------------zapisz-sie---------------------------------------------------------------*/
.zapisz-sie {
    background-color: coral;
    width: 100%;
    height: 100vh;
    z-index: 40;
    position: relative;

}

/*----------------------------------------------nav------------------------------------------------------------------*/
.nav {
    width: 100%;
    height: 5vh;
    background-color: lightsteelblue;
    /*padding: 20px;*/
    position: fixed;
    z-index: 10;
    top: 0;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    background-color: #B3D34D;
    color: #FFFFFF;
}

a:active {
    background-color: #FABC2C;
}

/*----------------------------------------------about----------------------------------------------------------------*/

.about {
    width: 100%;
    height: 100vh;
    background-color: lightsalmon;
}

/*--------------------------------------------services---------------------------------------------------------------*/
.services {
    width: 100%;
    height: 100vh;
    background-color: lightskyblue;
}

/*--------------------------------------------HowWeWork--------------------------------------------------------------*/
.how-we-work {
    width: 100%;
    height: 100vh;
    background-color: darkslategray;
}

/*-------------------------------------------contact-----------------------------------------------------------------*/
.contact {
    width: 100%;
    height: 100vh;
    background-color: darkturquoise;
}

/*--------------------------------------------foooter----------------------------------------------------------------*/
.footer {
    width: 100%;
    height: 5vh;
    background-color: black;
}


